#welcome{
  position:absolute;
  right:0px;
  top:0;
  width:256px;
  bottom:0px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}

#info{
  position:absolute;
  right:0px;
  top:25%;
  width:256px;
  bottom:0px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}

#input_output{
  position:absolute;
  right:0px;
  top:50%;
  width:256px;
  bottom:0px;
  overflow:hidden;
  border:1px solid #ccb;
  padding-left:0px;
  background:white;
}

